<!-- {%extends "registration/base.html"%}
{% load bootstrap3 %}
{% block content %}
<div class="container">
  <div class="row" style="padding:20px;background-image: url(https://i.pinimg.com/originals/23/b6/e7/23b6e77579244e66a0082797732fcbfd.jpg);
  background-repeat: no-repeat;background-size: cover"></div>

  <div class="col-md-2"></div>
  <div class="col-md-6">

    <h2
      style="padding:20px;background-image: url(https://i.pinimg.com/originals/23/b6/e7/23b6e77579244e66a0082797732fcbfd.jpg);background-repeat: no-repeat;background-size: cover">
    </h2>>Sign up</h2>
    <form method="post">
      {% csrf_token %}
      <p></p> {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
      <p style="background-color: aqua;">{% if field.help_text %}</p>
      <small style="display: none">{{ field.help_text }}</small>
      {% endif %}
      {% for error in field.errors %}
      <p style="color: red">{{ error }}</p>
      {% endfor %}

      {% endfor %}
      nnnnnnnnnnn
      <button type="submit">Sign up</button>
      <p>gggggggggg</p>
    </form>
  </div>
</div>
</div>
{% endblock %} -->